body {
    font-family: Cabin;
}



/* header  */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

.top-menu {
    height: 72px;
    padding: 16px 52px;
    background: #6D91DC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F8FDFE;
    box-sizing: border-box;

}

.top-logo {
    display: flex;
    align-items: center;
    font-size: 24px;

}

.top-logo a {
    text-decoration: none;
    color: #F8FDFE;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: Rochester;
    gap: 8px;
}

.top-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.cart-conteiner {
    position: relative;
}

.cart-conteiner img {
    width: 26px;
    height: 32px;
}


.cart-conteiner p {

    font-size: 12px;
    font-weight: 500;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 9px;


}

.nav-menu {
    display: flex;
    padding: 4px 52px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    justify-content: space-between;
    background: #FFF;

}

.nav-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-menu-list a {
    text-decoration: none;
    color: #000;
}





/* main  */

main {
    margin-top: 82px;
    background: #EEEEEF;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding-top: 36px;
    padding-left: 52px;
    color: #1F1F1F;
}

.topic {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 23px;
    margin-right: 52px;

}

form {
    margin: 56px 162px 0;
    display: flex;
    justify-content: space-between;
    gap: 134px;
    align-items: flex-start;
    width: fit-content;
}



.info-about-client,
.info-about-order {
    display: flex;
    flex-direction: column;
    width: 416px;
}

.input-wrapper label {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



.info-about-client,
.info-about-order h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 16px;

}



.input-wrapper {
    margin-top: 16px;
}



.input-wrapper input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.input-wrapper input::placeholder {
    color: #8E8E8E;
}

.input-wrapper input:focus {
    outline: none;
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}





.input-wrapper-delivery-address,
.input-wrapper-order-comment {
    flex-direction: column;
    margin-top: 32px;
    gap: 8px;
    display: flex;

}

textarea {
    resize: none;
    font-family: Cabin;
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.input-wrapper textarea::placeholder {
    color: #8E8E8E;

}

.input-wrapper textarea:focus {
    outline: none;
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}



.input-wrapper-delivery-address textarea,
.input-wrapper-order-comment textarea {
    width: 100%;
    height: 104px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1F1F1F;
}

.input-wrapper-delivery-address textarea::placeholder,
.input-wrapper-order-comment textarea::placeholder {
    color: #8E8E8E;
}

.input-wrapper-delivery-address textarea:focus,
.input-wrapper-order-comment textarea:focus {
    outline: none;
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}



.input-wrapper-delivery-date {
    color: #1F1F1F;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 32px;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper-delivery-date input {

    width: 120px;
    padding: 2px 8px;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    box-sizing: border-box;
    background:  #EEEEEF;
}


.input-wrapper-delivery-date input:focus {
    outline: none;
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}

.input-wrapper-order-comment {
    margin-bottom: 34px;
}


.radios input {
    margin-bottom: 16px;
}


.radios label {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

 
}


.payment-method {
    margin-top: 32px;
    margin-bottom: 24px;
}


.note {

    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 3px;
    margin-bottom: 24px;
}










.info-about-order {
    padding: 40px;
    gap: 32px;
    border-radius: 4px;
    background: #F5F5F5;

}

.order-info {
    display: flex;
    gap: 24px;

}

.order-name {
    align-self: stretch;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-bottom: 1px solid #A8A8A8;

}

.note-portions {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 3px;
    margin-bottom: 8px;
}

.portions {
    display: flex;
    padding: 4px 4px;
    align-items: center;
    gap: 3px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    width: fit-content;
}

.portions button {
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}




.price {
    color: #E90000;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 78px;
}


.total p {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}




.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #A8A8A8;
    padding: 10px 0px;
    box-sizing: border-box;
}



.checkbox-wrapper input {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.btn-sbmt-rst {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

.submit,
.reset {
    box-sizing: border-box;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
}

.submit {
    background: #3D76BA;
    color: #F8FDFE;
}

.reset {
    background: #DEDEDE;
    color: #1F1F1F;
}

.submit:hover {
    background: #63A1EB;
}

.reset:hover {
    background: #EEE;
}


footer {

    width: 100%;
    background-color: #6D91DC;
    display: flex;
    justify-content: space-between;
}

footer p {
    margin: 32px 52px;
    display: flex;
    justify-content: space-between;
    color: #F8FDFE;

}

.radios:last-of-type {
    margin-bottom: 121px;
}